@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

html, body { height:100%; }
body { background:#f5f5f5 url(../images/backend_bg.gif) left top repeat-y; font-size:14px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; }

#tx_multishop_admin_newheader_wrapper { position:fixed; top:0; left:220px; right:0; bottom:0; height:38px; background:#000; font-size:14px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; padding:0; z-index:8888890; }
#tx_multishop_admin_newheader_wrapper #ms_admin_user { float:left; }
#tx_multishop_admin_newheader_wrapper #ms_admin_user a { position:relative; display:block; font-size:14px; line-height:38px; font-family:"Open Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0 15px; z-index:3; }
#tx_multishop_admin_newheader_wrapper #ms_admin_user a:hover,
#tx_multishop_admin_newheader_wrapper #ms_admin_user a:focus,
#tx_multishop_admin_newheader_wrapper #ms_admin_user a:active { text-decoration:none; }
#tx_multishop_admin_newheader_wrapper #ms_admin_user .fa { float:left; width:21px; line-height:38px; margin-bottom:0; }
#tx_multishop_admin_newheader_wrapper #ms_admin_search,
#tx_multishop_admin_newheader_wrapper #ms_admin_user { float:right; border-left:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_newheader_wrapper #ms_admin_search { border-right:none; }
#tx_multishop_admin_newheader_wrapper ul { margin:0; padding:0; list-style:none; }
#tx_multishop_admin_newheader_wrapper ul li { background:none; margin:0; padding:0; }
#tx_multishop_admin_newheader_wrapper ul li a,
#tx_multishop_admin_newheader_wrapper ul li span { white-space:normal; }
#tx_multishop_admin_newheader_wrapper ul li a:hover,
#tx_multishop_admin_newheader_wrapper ul li a:focus { border-bottom:none; text-decoration:none; }
#tx_multishop_admin_newheader_wrapper ul li a:not(.label):hover,
#tx_multishop_admin_newheader_wrapper ul li a:not(.label):focus { background:none; }
#tx_multishop_admin_newheader_wrapper a { text-decoration:none !important; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader { line-height:18px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li { position:relative; float:left; border-right:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li:first-child { border-left:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.ms_admin_has_subs:before { position:absolute; right:10px; top:16px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; z-index:10; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader ul li.ms_admin_has_subs:before { position:absolute; right:10px; top:12px; border-left:5px solid #cdcdcd; border-top:5px solid transparent; border-bottom:5px solid transparent; content:""; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader ul li.ms_admin_has_subs:hover:before,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader ul li.ms_admin_has_subs.msAdminPanelMenuHover:before { opacity:0; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li:not(.ms_new_ticket) > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li:not(.ms_new_ticket) > span { position:relative; display:block; font-size:14px; line-height:38px; font-family:"Open Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0 15px; z-index:3; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.ms_admin_has_subs > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.ms_admin_has_subs > span { padding-right:25px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader li:not(.ms_new_ticket) > a > .fa,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader li:not(.ms_new_ticket) > span > .fa { float:left; width:21px; line-height:18px; margin-bottom:2px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li:not(.ms_new_ticket) > a > .fa,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li:not(.ms_new_ticket) > span > .fa { float:none; width:21px; line-height:38px; margin-bottom:0; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.open > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.open > span { background:#333; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul { width:250px; border:none; background:#333; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); z-index:0; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li { position:relative; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li:hover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li:hover > span,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul { width:270px; border:none; background:#444; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li:hover > ul,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li.msAdminPanelMenuHover > ul { display:block; left:250px; top:0; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #444; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li:hover > span,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:250px; border:none; background:#555; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li:hover > ul,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li.msAdminPanelMenuHover > ul { display:block; left:270px; top:0; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #555; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li:hover > span,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:250px; border:none; background:#666; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li:hover > ul,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > ul { display:block; left:250px; top:0; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul > li :first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #666; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul > li:hover > span,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > ul > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a:not(.label) { position:relative; display:inline-block; font-size:14px; line-height:38px; font-family:"Open Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0 10px 0 15px; z-index:3; vertical-align:middle; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a.label { margin-right:1px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a > .fa { float:none; width:21px; line-height:38px; margin-bottom:0; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a.label:last-child { margin-right:10px; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a.label:hover,
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a.label:focus { border-bottom:none; }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.ms_new_ticket { display:list-item; height:38px; line-height:35px; padding-left:15px; padding-right:15px; vertical-align:bottom;  }
#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.ms_new_ticket > a { display:inline; }

.dropdown-backdrop { display:none !important; }

#tx_multishop_admin_header_wrapper { position:fixed; left:0; top:0; bottom:0; right:0; display:block; width:220px; height:100%; background:#f5f5f5 url(../images/backend_bg.gif) left top repeat-y; font-size:14px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; z-index:8888890; }
#tx_multishop_admin_header_bg { height:100%;}
#tx_multishop_admin_header_wrapper > #tx_multishop_admin_header_bg > ul { overflow:auto; height:calc(100% - 38px); margin-top:38px; }
#tx_multishop_admin_header_wrapper ul { margin:0; padding:0; list-style:none; }
#tx_multishop_admin_header_wrapper ul li a,
#tx_multishop_admin_header_wrapper ul li span { white-space:normal; }
#tx_multishop_admin_header_wrapper a { text-decoration:none !important; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header { line-height:18px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li { position:static; border:none; background:none; margin:0; box-shadow:none; border-radius:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo { position:absolute; left:0; top:0; right:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > a:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > span:before { position:absolute; right:10px; top:16px; border-bottom:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:"";}
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > a.collapsed:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > span.collapsed:before { border-top:5px solid #fff; border-bottom:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs > a:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs > span:before { position:absolute; right:10px; top:12px; border-left:5px solid #999; border-top:5px solid transparent; border-bottom:5px solid transparent; content:"";}
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.in.ms_admin_has_subs > a:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.in.ms_admin_has_subs > span:before { border-left:5px solid #fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs:hover > a:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs:hover > span:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs.msAdminPanelMenuHover > a:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs.msAdminPanelMenuHover > span:before { opacity:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo { height:38px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo a { background:#000; padding:0 10px 1px 5px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo > a > span { display:block; width:128px; height:36px; background:url(../admin_multishop/images/admin_logo_white.png) left top no-repeat; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:hover.ms_admin_logo a { background:#000; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div > span { color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_package,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div { display:block; border-bottom:1px solid rgba(255,255,255,.1); background:#111; color:#fff; font-size:14px; line-height:19px; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span { position:relative; font-weight:bold;}
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > a > .fa,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > span > .fa { float:left; width:16px; line-height:18px; margin-top:1px; margin-bottom:2px; margin-right:5px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div > span > span { font-weight:bold; padding-right:5px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div .badge { float:right; margin-right:-10px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > a:hover,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > span:hover { background-color:transparent; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.in > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.in > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.active > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.active > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.active > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.active > span { font-weight:bold; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.in > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.active > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.active > span { background:#111; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a.collapsed,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:hover > a.collapsed,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > span { background:none; font-weight:normal; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header a:hover,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header a:focus { text-decoration:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul { background:#333; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.open > ul { position:static; width:100%; float:none; border:none; border-radius:0; box-shadow:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li { width:100%; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:after { clear:both; display:table; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span { position:relative; float:left;display:block;width:100%;border-bottom:1px solid rgba(255,255,255,.1);font-size:13px;color:#cdcdcd;padding:8px 20px 8px 25px;}
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a > .fa,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span > .fa { margin-bottom:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span > span { display:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul { position:absolute; left:-9999em; width:250px; border:none; background:#444; z-index:1001; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); z-index:8888898; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > ul,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li.msAdminPanelMenuHover > ul { display:block; left:200px; top:auto;width:250px;/* left: auto; */}
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #444; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; line-height:19px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span > span { display:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:300px; background:#555; z-index:1001; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > ul,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li.msAdminPanelMenuHover > ul { left:250px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #555; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; line-height:19px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span > span { display:block; line-height:16px; color:rgba(255,255,255,.8); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:300px; background:#666; z-index:1001; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > ul,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > ul { left:300px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #666; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; line-height:19px; color:#cdcdcd; padding:8px 20px 8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li:hover > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li.msAdminPanelMenuHover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li > a > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > ul > li > span > span { display:block; line-height:16px; color:rgba(255,255,255,.8); }

#ms_admin_minimaxi_wrapper { display:none; }
#tx_multishop_admin_header.affix,
#tx_multishop_admin_header.affix-top { position:static !important; }
#tx_multishop_admin_header.affix-bottom { position:static !important; }

#tx_multishop_admin_footer_wrapper { position:fixed; left:220px; right:0; bottom:0; height:38px; background:#000; font-size:14px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; text-align:left; margin:0; padding:0; z-index:8888890 ; }

#msadmin_footer_wrapper { display:none; background:#333; padding:0 0 0 220px; }
#msadmin_footer { overflow:hidden; }
#footer_content_cols_wrapper { background:#000; padding:20px; }
#footer_copyright { background:#222; padding:5px 20px 10px; }
#footer_copyright p { margin-bottom:0; }
#footer_copyright:after { clear:both; display:table; content:""; }
#footer_copyright #copyright { float:left; }
#footer_copyright #alle { float:right; }

#msadmin_wrapper { background:#222; font-family:"Open Sans", Arial, Helvetica, sans-serif; padding:0 0 0 220px; }
#msadmin_section { background:#f5f5f5; padding:48px 10px 28px; }
#msadmin_section:after { clear:both; display:table; content:""; }

h1 { font-size:24px; line-height:28px; }
h2 { font-size:20px; line-height:24px; }
h3 { font-size:18px; line-height:22px; }
h4 { font-size:16px; line-height:20px; }
h5 { font-size:14px; line-height:18px; }
h1,
h2,
h3,
h4,
h5 { font-weight:600; font-family:"Open Sans", Arial, Helvetica, sans-serif; margin:0 0 10px; padding:0; }

.page-header h3 { margin-bottom:0; }

.panel-default > .panel-heading,
.panel-info > .panel-heading,
.panel-success > .panel-heading {
	position:relative;
	width:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: space-between;
	-moz-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index:0;
}
.panel-default > .panel-heading { background:#fff; }
.panel-default > .panel-heading h3,
.panel-info > .panel-heading h3,
.panel-success > .panel-heading h3 { margin-bottom:0; }
.panel-default > .panel-heading h3 a:not(.btn),
.panel-default > .panel-heading h3 a:not(.btn):hover,
.panel-default > .panel-heading h3 a:not(.btn):focus,
.panel-info > .panel-heading h3 a:not(.btn),
.panel-info > .panel-heading h3 a:not(.btn):hover,
.panel-info > .panel-heading h3 a:not(.btn):focus,
.panel-success > .panel-heading h3 a:not(.btn),
.panel-success > .panel-heading h3 a:not(.btn):hover,
.panel-success > .panel-heading h3 a:not(.btn):focus { text-decoration:none; border-bottom:none; }

.panel-info > .panel-heading h3 a.btn-info,
.panel-success > .panel-heading h3 a.btn-info,
.panel-info > .panel-heading h3 a.btn-success,
.panel-success > .panel-heading h3 a.btn-success { color:#fff; }

#pricelist_search_form .panel-default > .panel-heading { display:block; }

/* custom */
.table > tbody.sortbody > tr:first-child { background:#e9e9e9; }
.cellContent .table { margin-bottom:0; }
.cellContent table#msOrderDetailsSubTotalTable.table,
.cellContent table#msOrderDetailsSubTotalTable.table > tbody > tr > td { border:none; text-align:right; }
.cellContent table#msOrderDetailsSubTotalTable.table { border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; }
.cellContent table#msOrderDetailsSubTotalTable.table > tbody > tr > td:first-child { width:80%; }
.cellContent table#msOrderDetailsSubTotalTable.table > tbody > tr > td:last-child { font-weight:bold; }

td.cellPrice .msAttributesField .form-control,
td.cellSpecialPrice .msAttributesField .form-control { min-width:90px; }
.input-group input[type="text"]:not(:first-child),
.msAttributesField input[type="text"]:not(:first-child) { text-align:right; }
td.cellBreak { width:200px; word-break:break-all; }

table#address_details { margin-bottom:0; }

#msAdminSearchByCharNav { text-align:center; margin-bottom:20px; }

.qq-upload-button { vertical-align:top; }
ul.qq-upload-list { display:inline-block; margin-bottom:0; padding-left:0; list-style:none; }
ul.qq-upload-list li { padding-left:10px; }
ul.qq-upload-list li > span { display:inline-block; font-size:13px; padding-right:10px; }
ul.qq-upload-list li > span.qq-upload-failed-text { display:none; color:#a94442; }
ul.qq-upload-list li.qq-upload-fail > span.qq-upload-failed-text { display:inline-block; }

ul.qq-upload-list.qq-vertical-list li { padding-top:5px; padding-left:0; padding-bottom:5px; }
.attribute_value_image img { margin-bottom:5px; }

.well .form-inline label,
.well .form-inline .form-control { margin-right:5px; }
.searchLimit { text-align:right; }
.searchLimit .form-inline .form-control { margin-right:0; }
.form-collapse .input-group input[type="text"] { width:400px; text-align:left; padding-left:34px; }
.form-collapse .input-group input#advance-skeyword { margin-right:7px; border-top-right-radius:4px; border-bottom-right-radius:4px; }
.form-collapse .input-group > .fa { position:absolute; left:0; top:0; width:34px; height:34px; line-height:34px; text-align:center; z-index:10; }
.form-collapse a.advanceSearch { display:inline-block; font-size:14px; line-height:20px; vertical-align:middle; }
.form-collapse a.advanceSearch:hover,
.form-collapse a.advanceSearch:focus { border-bottom:none; text-decoration:underline; }

#search-orders .select2-container { width:100%; }

.table > thead > tr > th.module_heading { border:1px solid #333; background:#333; color:#fff; }
.table > thead:first-child > tr:first-child > th.module_heading { border-top:1px solid #333; }

table#product_attributes_table > thead > tr > td,
table#product_attributes_table > tbody > tr > td,
table#product_attributes_table > tfoot > tr > td { padding:0; }
table#product_attributes_table > tbody > tr > td,
table#product_attributes_table > tfoot > tr > td { border-top:none; }
table#product_attributes_table > tbody > tr > td { padding-top:20px; }
table#product_attributes_table > tbody > tr > td .new_product_attributes { font-weight:bold; }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td { font-size:13px; }

ul.primaryProductsWrapper { margin:0; padding:0; list-style:none; }
ul.primaryProductsWrapper > li {  }
ul.primaryProductsWrapper > li > span { display:block; border-bottom:1px solid #eee; font-weight:600; padding:5px 0; }
ul.primaryProductsWrapper > li > ul { border-bottom:1px solid #eee; margin:0; padding:7px 0 6px 30px; list-style-type:disc; }
ul.primaryProductsWrapper > li:last-child > span { border-bottom:none; }

.nav-tabs > li:first-child { margin-left:5px; }

@media (min-width:1200px) {
	.msadminVerticalTabs > .nav-tabs { float:left; width:15%; border-bottom:none; margin-top:20px; margin-right:0; }
	.msadminVerticalTabs > .nav-tabs > li { float:none; }
	.msadminVerticalTabs > .nav-tabs > li:first-child { margin-left:0; }
	.msadminVerticalTabs > .nav-tabs > li > a { text-align:right; margin-bottom:3px; margin-right: -1px; border-radius:4px 0 0 4px; }
	.msadminVerticalTabs > .nav-tabs > li > a:hover,
	.msadminVerticalTabs > .nav-tabs > li > a:focus { border-color: #eeeeee #dddddd #eeeeee #eeeeee; }
	.msadminVerticalTabs > .nav-tabs .active > a,
	.msadminVerticalTabs > .nav-tabs .active > a:hover,
	.msadminVerticalTabs > .nav-tabs .active > a:focus { border-color: #ddd transparent #ddd #ddd; font-weight:bold; }

	.msadminVerticalTabs > .tab-content { padding:0 0 0 15%; }
	.msadminVerticalTabs > .tab-content > .tab-pane,
	.msadminVerticalTabs > .tab-content > form > .tab-pane { min-height:698px; border:1px solid #ddd; padding:10px; border-radius:6px; }
	.msadminVerticalTabs > .tab-content > .tab-pane table#admin_modules_listing td:first-child { width:60%; }
}
.merge_attribute_options_form ul { margin:0; padding:0; list-style:none; }

.copy_to_clipboard { white-space:nowrap; }

.products_image,
#categories_image,
.image_action { float:left; }
.products_image,
#categories_image,
.image_action > img { margin-right:10px; }
.image_action > img,
.image_action > .image_tools { float:left; }
.form-horizontal .products_image,
.form-horizontal #categories_image,
.form-horizontal .image_action { margin-top:4px; }

#cat-selectbox1 { margin-bottom:0; }

table#product_attributes_table ul#products_attributes_items { margin:0; padding:0; list-style:none; }
table#product_attributes_table ul#products_attributes_items li { border-bottom:1px solid #e4e7e8; margin:0; padding:20px 0; }
table#product_attributes_table ul#products_attributes_items li .option_name { display:block; font-weight:bold; }
table#product_attributes_table .wrap-attributes-item .select2-container,
table#product_attributes_table td.product_attribute_option > .select2-container,
table#product_attributes_table td.product_attribute_value > .select2-container { width:100%; }
table#product_attributes_table table td.product_attribute_option,
table#product_attributes_table table td.product_attribute_value { width:38%; }
table#product_attributes_table table td.product_attribute_option { padding-left:0; }
table#product_attributes_table table td.product_attribute_prefix select { width:60px;}
table#product_attributes_table table td.product_attribute_price .msAttributesField:nth-child(2) { margin-top:10px; }
table#product_attributes_table table td.product_attribute_price .input-group-addon:not(:first-child):not(:last-child),
table#product_attributes_table table td.product_attribute_price .input-group-btn:not(:first-child):not(:last-child),
table#product_attributes_table table td.product_attribute_price .input-group .form-control:not(:first-child):not(:last-child) { width:100px; }

@media (min-width: 768px) {
	table#product_attributes_table table td .input-group .form-control { width:90px !important; }
}
table#product_attributes_table table td .product_attribute_action_container { width:87px !important; white-space:nowrap; }
table#product_attributes_table table td:last-child { padding-right:0; }
#orders_products_listing_table .cellID,
.proposals_products_listing .cellID { width:50px; }
#orders_products_listing_table .cellQty,
.proposals_products_listing .cellQty { width:67px; }
#orders_products_listing_table .cellName,
.proposals_products_listing .cellName { width:402px; }
#orders_products_listing_table .cellVat,
.proposals_products_listing .cellVat { width:114px; }
#orders_products_listing_table .cellPrice,
.proposals_products_listing .cellPrice { width:259px; }
#orders_products_listing_table .cellAction,
.proposals_products_listing .cellAction { width:84px; }
.table > tfoot > tr > td.order_total_data { padding-bottom:0; }

.product_staffel_price .table > * > tr > td { border-bottom:none; }
.product_staffel_price .table > * > tr > td:nth-child(1),
.product_staffel_price .table > * > tr > td:nth-child(2) { width:40%; }
.product_staffel_price .table > * > tr > td:nth-child(3) .msAttributesField:first-child { margin-bottom:10px; }
.product_staffel_price .table > * > tr > td:nth-child(3) .input-group .form-control { width:100px; }

#msadmin_wrapper .popover { max-width:700px; z-index:8888890; }
#msadmin_wrapper .popover .popover-content { font-size:13px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; }
#msadmin_wrapper .popover .popover-content h1 { font-size:18px; line-height:24px; margin-bottom:5px; }
#msadmin_wrapper .popover .popover-content h2 { font-size:16px; line-height:22px; margin-bottom:5px; }
#msadmin_wrapper .popover .popover-content h3 { font-size:15px; line-height:21px; margin-bottom:5px; }
#msadmin_wrapper .popover .popover-content table { border-right:none; border-left:none; border-bottom:none; margin:20px 0 0; }
#msadmin_wrapper .popover .popover-content table th,
#msadmin_wrapper .popover .popover-content table td { font-size:13px; padding:5px; }
#msadmin_wrapper .popover .popover-content table tr.removeTableCellBorder td { border:none; font-size:13px; line-height:20px; padding:0 5px; }
#msadmin_wrapper .popover .popover-content table tr.removeTableCellBorder td hr { border-top-color:#ddd; margin-top:5px; margin-bottom:5px; }

#msadmin_wrapper #orders_post .popover { max-width:772px; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper { width:740px; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .customer_comments { margin-bottom:10px; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .customer_comments .panel-heading,
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .order_memo .panel-heading { padding:7px 10px; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .customer_comments .panel-heading h3,
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .order_memo .panel-heading h3 { margin-bottom:0; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .customer_comments .panel-body,
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .order_memo .panel-body { overflow:auto; max-height:205px; word-break:break-word; padding:7px 10px; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .customer_comments .panel-body p:last-child,
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .order_memo .panel-body p:last-child { margin-bottom:0; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .customer_comments .panel-footer,
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .order_memo .panel-footer { padding:7px 10px; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper tr.msAdminSubtotalRow > td:last-child { white-space:nowrap; }
#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .col-md-4 { overflow:hidden; }
@media (min-width:768px) {
	#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .col-md-4:nth-child(1) { width:35%; }
	#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .col-md-4:nth-child(2) { width:35%; }
	#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper .col-md-4:nth-child(3) { width:30%; }
}
@media (min-width:1600px) {
	#msadmin_wrapper #orders_post .popover { max-width:982px; }
	#msadmin_wrapper #orders_post .msAdminTooltipOrderDetailsAddressWrapper { width:950px; }
}

#msadmin_wrapper #customer_comments .customer_comments_body { overflow:auto; max-height:178px; }
#msadmin_wrapper #customer_comments .customer_comments_body p:last-child { margin-bottom:0; }

#msadmin_content #tblWidgetOrdersLatest .popover .popover-content table th,
#msadmin_content #tblWidgetOrdersLatest .popover .popover-content table td { padding:5px; }
#msadmin_wrapper #tblWidgetOrdersLatest .popover .popover-content table tr.removeTableCellBorder td { padding:0 5px; }

.msAttributesField:nth-child(2) { margin-top:10px; }
.input-group-addon:last-child,
.form-inline .input-group .input-group-addon:last-child { width:105px; text-align:left; }
.input-group-addon.width-auto:last-child { width:auto; }

#msEditProductInputUnit .input-group { width:100%; }
#msEditProductInputUnit .input-group-addon:last-child { width:50px; }
#msEditProductInputUnit .input-group.productMeasurementUnitGroup > .input-group-addon { width:110px; padding:2px 6px; }
#msEditProductInputUnit .input-group.productMeasurementUnitGroup select { width:100%; height:24px; padding:0; }

ul#tx_multishop_countries_checkboxes.list-inline { margin-bottom:0; }
ul#tx_multishop_countries_checkboxes.list-inline li { width:20%; vertical-align:top; }
ul#tx_multishop_countries_checkboxes.list-inline li .checkbox { margin-top:0; }

.form-horizontal .control-label > .checkbox {  padding-top:0; }
.form-horizontal .control-label > .checkbox > label { font-weight:bold; }

.form-horizontal .control-label.col-md-4 .checkbox > label { text-align:left; }

#admin_shipping_methods .modal-body .col-md-3 > .panel,
#admin_payment_methods .modal-body .col-md-3 > .panel { text-align:center; }
#admin_shipping_methods .modal-body .col-md-3 > .panel > .panel-body,
#admin_payment_methods .modal-body .col-md-3 > .panel > .panel-body { display:table; width:100%;  }
#admin_shipping_methods .modal-body .col-md-3 > .panel > .panel-body > a,
#admin_payment_methods .modal-body .col-md-3 > .panel > .panel-body > a { display:table-cell; width:100%; height:90px; text-align:center; vertical-align:middle; }
#admin_shipping_methods .modal-body .col-md-3 > .panel > .panel-body > a img,
#admin_payment_methods .modal-body .col-md-3 > .panel > .panel-body > a img { max-width:100%; height:auto; }
#admin_shipping_methods .modal-body .col-md-3 > .panel > .panel-footer,
#admin_payment_methods .modal-body .col-md-3 > .panel > .panel-footer { padding:5px; }
#admin_shipping_methods .modal-body .col-md-3 > .panel > .panel-footer { height:43px; }
#admin_payment_methods .modal-body .col-md-3 > .panel > .panel-footer { height:80px; }
#admin_shipping_methods .modal-body .col-md-3 > .panel > .panel-footer > .btn,
#admin_payment_methods .modal-body .col-md-3 > .panel > .panel-footer > .btn { text-align:left; }

ul#tx_multishop_countries_checkboxes { padding-left:10px; list-style:none; }

ul.admin_sort_product_listing { display:table; width:100%; padding-left:0; list-style:none; }
ul.admin_sort_product_listing > li { display:table-row; }
ul.admin_sort_product_listing > li:first-child > * { padding-top:0; }
ul.admin_sort_product_listing > li:last-child > * { border-bottom:none; padding-bottom:0; }
ul.admin_sort_product_listing > li > * { display:table-cell; border-bottom:1px solid #eee; vertical-align:top; padding-right:10px; padding-bottom:15px; padding-top:15px; }
ul.admin_sort_product_listing > li > strong { width:90%; }
ul.admin_sort_product_listing > li > .admin_menu { white-space:nowrap; }
ul.admin_sort_product_listing > li > .admin_menu > a { float:none; display:inline-block; color:#fff; text-align:center; }
ul.admin_sort_product_listing > li > .admin_menu > a:first-child { padding-right:12px; }
ul.admin_sort_product_listing > li > .admin_menu > a.btn-sm { font-size:12px; line-height:1.5; }
ul.admin_sort_product_listing > li > .admin_menu > a.btn-sm:first-child { padding-right:10px; }

ul.admin_sort_product_listing > li > .button_wrapper { white-space:nowrap; padding-right:0; }

#ui-datepicker-div { display:none; z-index:100000000  !important; }
.jconfirm-noscroll #ui-datepicker-div { z-index:100000000 !important; }

/* jquery tree overrule */
.form-horizontal #sidetree .checkbox-inline { padding-top:0; }
.form-horizontal #sidetree .checkbox-inline > label { padding-left:0; }

.form-horizontal #msAdmin_category_listing_ul.treeview .checkbox { float:left; min-height:16px;}
#sidetree #sidetreecontrol a:hover,
#sidetree #sidetreecontrol a:focus,
#msAdmin_category_listing_ul.treeview li a:hover,
#msAdmin_category_listing_ul.treeview li a:focus { border-bottom:none; }

#msAdmin_category_listing_ul.treeview ul { margin-bototm:0; }
#msAdmin_category_listing_ul.treeview li { padding-left:20px; }
#msAdmin_category_listing_ul.treeview li.last { background-position:left -3766px; }

#msAdmin_category_listing_ul_territories #msAdmin_category_listing_ul.treeview li { background:url(../images/treeview-default-line.gif) left -2px no-repeat; }
#msAdmin_category_listing_ul_territories #msAdmin_category_listing_ul.treeview li.last { background-position:left -3768px; }

#msAdmin_category_listing_ul.treeview .hitarea { background-color:#fff; background-position:-67px -23px; margin-left:-17px; }
#msAdmin_category_listing_ul.treeview li.collapsable,
#msAdmin_category_listing_ul.treeview li.expandable { background-position:left -187px; }
#msAdmin_category_listing_ul.treeview .expandable-hitarea { background-position: -83px -1px; margin-left:-17px; }
#msAdmin_category_listing_ul.treeview li.lastExpandable { background-position: -32px -67px; }
#msAdmin_category_listing_ul.treeview div.lastCollapsable-hitarea,
#msAdmin_category_listing_ul.treeview div.lastExpandable-hitarea { background-color:transparent; }
#msAdmin_category_listing_ul.treeview div.lastCollapsable-hitarea { background-position:-3px -112px; }

.zone-tabs ul#msAdmin_category_listing_ul_territories { padding-left:10px; list-style:none; }
.zone-tabs label { width:10%; }

.merge_attribute_values_listing ul,
.related_data_categories_name_listing > ul { margin:0; padding:0; list-style:none; }
.merge_attribute_values_listing > ul > li,
.related_data_categories_name_listing { overflow:hidden; border-bottom:1px solid #eee; margin:0 0 15px; padding:0 0 15px; }
.merge_attribute_values_listing > ul > li:last-child,
.related_data_categories_name_listing:last-child { border-bottom:none; margin-bottom:0; padding-bottom:0; }
.related_data_categories_name_listing:last-child { margin-bottom:15px;}
.merge_attribute_values_listing > ul > li > ul > li { display:inline-block; width:25%; vertical-align:top; }
.merge_attribute_values_listing > ul > li > ul > li .checkbox { margin-bottom:0; }
.merge_attribute_values_target { margin-top:20px; }

/* bootstrap overrule */

@-moz-document url-prefix() {
	fieldset { display: table-cell; }
}

.popover { max-width:500px; }

.radio-inline,
.checkbox-inline { z-index:0; }
.radio label::before,
.checkbox label::before { outline:none; z-index:0; }
.checkbox input[type="checkbox"]:focus + label::before,
.radio input[type="radio"]:focus + label::before { outline:none; }
.checkbox input[type="checkbox"]:checked + label::before,
.radio input[type="radio"]:checked + label::before { outline:none; }

hr { margin-top:15px; margin-bottom:15px; }

.horizontal_list.pagination,
#msadmin_tools_nav.pagination { margin-top:0; }

.btn.delete_field { margin-left:10px; }

.table { background:#fff; }
.table .label { display:inline-block; line-height:17px; }

/* typo3 helper class */
/* .table th { white-space:nowrap; } */

select.form-control { padding-left:8px; padding-right:8px; }
.table td select.form-control.change_orders_status { width:auto; }
.form-control-static { padding-top:8px; padding-bottom:6px; }
.form-control-static > .form-control { margin-top:-8px; margin-bottom:-6px; }
@media (min-width:768px) {
	.form-inline .form-control-static { vertical-align:middle; }
}

.row { margin-left:-10px; margin-right:-10px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left:10px; padding-right:10px; }
.page-header h4 { margin-bottom:0; }
.panel-heading { padding:10px; }
.panel-body { padding:10px; }
.form-group { margin-bottom:10px; }
.form-horizontal .form-group { margin-left:-10px; margin-right:-10px; }
.form-horizontal .form-group.col-xs-1 { float:none; width:auto; }
.form-horizontal .form-group.col-xs-1 .checkbox-inline { padding-left:3px; padding-right:15px; padding-top:1px; padding-bottom:0; }
.form-horizontal .form-group.col-xs-1 .checkbox-inline input[type="checkbox"] { margin-top:0; }
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline { padding-top:8px; }
.radio label,
.checkbox label { line-height:20px; }
.form-horizontal .well .checkbox.checkbox-success { padding-top:0; }
.form-horizontal .well .checkbox.checkbox-success > label { padding-top:0; }
.form-group.edit-order-info { padding-left:10px; padding-right:10px; }
.form-group.edit-order-info .control-label { padding-top:0; }
.form-group.edit-order-info .form-control-static { min-height:0; padding-top:0; padding-bottom:0; }
@media (min-width:768px) {
	.form-horizontal .control-label { padding-top:8px; }
	.form-horizontal .form-group-label-left .control-label { text-align:left; }
	.form-horizontal .control-label.control-label-select2 { padding-top:7px; }
	.form-horizontal .control-label.firstLabel { padding-top:0; }
	.form-horizontal .control-label.firstLabel select { width:70px; }
	.modal { padding-left:220px; }
	.modal-dialog { width:800px; margin:58px auto; }
	.modal-dialog.modal-lg { width:95%; }
}

.div-separator { height:1px; background:#e4e7e8; margin-top:20px; margin-bottom:20px; }

.form-horizontal .form-vertical { margin-left:-10px; margin-right:-10px; }
.form-horizontal .form-vertical .form-group { padding-left:10px; padding-right:10px; }
.form-horizontal .form-vertical .form-group .checkbox,
.form-horizontal .form-vertical .form-group .radio { padding-left:16px; }
.checkbox label::before { top:1px; }
.checkbox label::after { top:2px; }
.radio label::before { top:2px; }
.radio label::after { top:5px; }
.well-sm .radio { padding-top:0; }

.nav.nav-tabs { margin-bottom:20px; }
.tab-pane { overflow:hidden; }
.tab-content > form > .tab-pane { display:none; }
.tab-content > form > .tab-pane.active { display:block; }

#product_options .form-inline .form-control { min-width:196px; }
#product_options .form-inline .form-control-static,
.form-inline .form-control-static.form-control-inbetween { padding-left:10px; padding-right:10px;  }

.form-control.input1 { width:34px; }
.form-control.input2 { width:42px; }
.form-control.input3 { width:50px; }
.form-control.input4 { width:58px; }
.form-control.input5 { width:66px; }
.form-control.input6 { width:74px; }
.form-control.input7 { width:82px; }
.form-control.input8 { width:90px; }
.form-control.input9 { width:98px; }
.form-control.input10 { width:106px; }
.form-control.input11 { width:114px; }
.form-control.input12 { width:122px; }
.form-control.input13 { width:130px; }
.form-control.input14 { width:138px; }
.form-control.input15 { width:146px; }

#product_options .form-inline .form-control.input1,
#product_options .form-inline .form-control.input2,
#product_options .form-inline .form-control.input3,
#product_options .form-inline .form-control.input4,
#product_options .form-inline .form-control.input5,
#product_options .form-inline .form-control.input6,
#product_options .form-inline .form-control.input6,
#product_options .form-inline .form-control.input7,
#product_options .form-inline .form-control.input8,
#product_options .form-inline .form-control.input9,
#product_options .form-inline .form-control.input10,
#product_options .form-inline .form-control.input11,
#product_options .form-inline .form-control.input12,
#product_options .form-inline .form-control.input13,
#product_options .form-inline .form-control.input14,
#product_options .form-inline .form-control.input15 { min-width:0; }

@media (min-width:768px) {
	.form-inline .input-group > .form-control.input1 { width:34px; }
	.form-inline .input-group > .form-control.input1 { width:34px; }
	.form-inline .input-group > .form-control.input2 { width:42px; }
	.form-inline .input-group > .form-control.input3 { width:50px; }
	.form-inline .input-group > .form-control.input4 { width:58px; }
	.form-inline .input-group > .form-control.input5 { width:66px; }
	.form-inline .input-group > .form-control.input6 { width:74px; }
	.form-inline .input-group > .form-control.input7 { width:82px; }
	.form-inline .input-group > .form-control.input8 { width:90px; }
	.form-inline .input-group > .form-control.input9 { width:98px; }
	.form-inline .input-group > .form-control.input10 { width:106px; }
	.form-inline .input-group > .form-control.input11 { width:114px; }
	.form-inline .input-group > .form-control.input12 { width:122px; }
	.form-inline .input-group > .form-control.input13 { width:130px; }
	.form-inline .input-group > .form-control.input14 { width:138px; }
	.form-inline .input-group > .form-control.input15 { width:146px; }
}

.hidden { display:none; }

.tooltip { text-align:left; opacity:1; }
.tooltip.top .tooltip-arrow { border-top-color:rgba(0,0,0,.2); }
.tooltip.top .tooltip-arrow:after { position:absolute; left:-5px; bottom:1px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; }
.tooltip .tooltip-inner { max-width:250px; border:1px solid rgba(0,0,0,.2); background:#fff; font-size:12px; color:#333; text-align:left; padding:10px; border-radius:6px; box-shadow:0 5px 10px rgba(0,0,0,.2); }
.tooltip .tooltip-inner h3 { font-size:14px; line-height:18px; color:#fff; margin-bottom:5px; }
.tooltip.in { opacity:1; }

.admin_status_red,
.admin_status_green { display:inline-block; width:18px; height:18px; margin:0 2px; border-radius:50%; }
.admin_status_red { background-color:red; }
.admin_status_green { background-color:green; }
.admin_status_red.disabled,
.admin_status_green.disabled { opacity:.2; }

.fa { line-height:20px; }
.fa-stack .fa { line-height:inherit; }
.fa-li { top:0; }
.fa-stack .fa-stack-1x:before { font-size:12px; }

.checkbox label::after { line-height:16px; }

.shipping_cost_input_field_wrapper > div > .form-group { margin-bottom:20px; }

.blockUI.blockOverlay { z-index:8888891 !important; }

@media (min-width:992px) {
	#Order_Details > .row,
	#address_details > .panel-body > .row,
	#view_customer > .topfieldset > .row,
	#proposals_panels.row,
	#address_details_panels.row,
	#address_details.row {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; }
	#Order_Details > .row > div,
	#address_details > .panel-body > .row > div,
	#view_customer > .topfieldset > .row > div,
	#proposals_panels.row > div,
	#address_details_panels.row > div,
	#address_details.row > div {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; }
	#Order_Details > .row > div > div,
	#address_details > .panel-body > .row > div > div,
	#view_customer > .topfieldset > .row > div > div,
	#proposals_panels.row > div > div,
	#address_details_panels.row > div > div,
	#address_details.row > div > div { width:100%; }
	#address_details > .panel-body > .row > div > div { position:relative; margin-bottom:0; padding-bottom:68px; }
	#address_details > .panel-body > .row > div > div hr { position:absolute; bottom:49px; left:10px; right:10px; }
	#address_details > .panel-body > .row > div > div .clearfix { position:absolute; bottom:10px; left:10px; right:10px; }
}

.msAdminCategoriesCrum > li:after { font-family:"FontAwesome"; content:"\f105"; padding-left:12px; }
.msAdminCategoriesCrum > li:last-child:after { display:none; }

#msAdmin_category_listing_ul.treeview,
#msAdmin_category_listing_ul.treeview ul { padding:0; list-style:none; }

/* redactor overrule */
/* .form-group .col-md-10 .redactor-box { margin-bottom:0; }
.redactor-box textarea { font-size:14px; line-height: 1.6em; font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; padding:20px; }
.redactor-editor, .redactor-box, .redactor-box textarea { z-index:8888890; } */
.form-group .col-md-10 .redactor-box { margin-bottom:0; }
/* .redactor-box textarea { font-size:14px; line-height: 1.6em; font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; padding:20px; } */
.redactor-editor, .redactor-box, .redactor-box textarea { }
.redactor-box-fullscreen { z-index:8889990; }
#msadmin_content .redactor-toolbar.toolbar-fixed-box { position:fixed !important; left:auto !important; top:38px !important; }

/* select2 overrule */
.select2-container .select2-choice { height:34px; text-align:left; padding-left:12px; }
.select2-container .select2-choice > .select2-chosen { line-height:20px; padding-top:7px; }
.select2-container .select2-choice > .select2-chosen > h3 { font-size:14px; line-height:20px; margin-bottom:1px; }
.select2-container .select2-choice > .select2-chosen > .label { display:inline-block; vertical-align:top; margin-top:2px; padding-bottom:.4em; }
.select2-results .select2-result-label { padding-bottom:3px; }
.select2-results .select2-result-label > .label { display:inline-block; vertical-align:top; margin-top:2px; padding-bottom:.4em; }
#edit_customer .select2-container,
.select2-container.pspSelect2,
#s2id_new_customers_price_name.select2-container.input_new_customers_price,
#s2id_new_customers_groups_price_name.select2-container.input_new_customers_groups_price,
#s2id_msAdminSelect2Bottom.select2-container { width:100%; }
#s2id_msAdminSelect2Top.select2-container { width:300px; }

.select2-results li h3 { font-size:14px; line-height:20px; margin-bottom:0; }
.select2-container-multi .select2-choices { border-color:#ccc; background-image:none; border-radius:4px; box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075); transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.select2-container-multi .select2-choices .select2-search-choice { line-height:18px; }
.select2-container-multi.select2-dropdown-open .select2-choices { border-color:#5897fb; border-radius:4px 4px 0 0; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); }
.select2-search-choice-close { top:6px; }

.panel-heading-toggle { cursor:pointer; }

#label_custom_shipping_costs .form-group > label { padding-top:28px; }
#label_custom_shipping_costs .form-group > div.col-md-4 { padding-top:20px; }
@media (min-width:992px) {
	#label_custom_shipping_costs .form-group > div.col-md-4 > .checkbox { float:right; }
}
#label_custom_shipping_costs .form-group > .col-md-8 > .form-inline > p:first-child { width:60px; text-align:right; }
#label_custom_shipping_costs .form-group > .col-md-8 > .form-inline > p { padding-right:5px; }
#label_custom_shipping_costs .form-group > .col-md-8 > .form-inline > select { width:80px; margin-right:5px; }

/* CSS Method for adding Font Awesome Chevron Icons */
.panel-heading-toggle h3:after { float:right; position:absolute; right:15px; top:50%; font-family:"FontAwesome"; line-height:16px; content:"\f077"; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%); vertical-align:middle; }
.panel-heading-toggle.collapsed h3:after { content:"\f078"; }

.cellPlPrice { min-width:250px; }

/* .fa-stack .fa-circle-cart-plus { color: #337ab7; }
.fa-stack .fa-circle-phone { color: orange; } */

.text-info { color:#337ab7; }
.text-danger { color:#d9534f; }
.text-orange { color:#f90;}
.text-black { color:#000; }
.text-gray { color:#999; }
.text-pink { color:#f691b2; }

.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td { border-top:none; }

#fe_user_image { float:left; margin-right:10px; }

.modal-backdrop { z-index:10040; }
.modal { z-index:10050; }

#msEditProductInputImage:after { clear:both; display:table; content:""; }
ul.custom_products_description { margin:0; padding:0; list-style:none; }

/* .jconfirm-box h3.panel-title { background:#f5f5f5; border-bottom:1px solid #ddd; margin:-10px -15px 20px; padding:10px 15px; border-radius:6px 6px 0 0; } */

.removeUsergroup { display:inline-block; padding-top:0; padding-left:20px; vertical-align:bottom; }
.removeUsergroup .btn-sm .fa { line-height:14px; }

.categories_select2_input,
.products_select2_input,
#manual_product_name_select2 { display:inline-block; vertical-align:middle; }
.categories_products_select2_wrapper .categories_select2_input { margin-bottom:10px; }

#msEditProductInputProductVolume .input-group .input-group-addon { border-left:none; }
#msEditProductInputProductVolume .input-group .input-group-addon,
#msEditProductInputProductVolume .input-group .input-group-btn { width:50px; }

#budget_categories_form .msAttributesField:nth-child(2) { margin-top:0; }
#budget_categories_form #msAdmin_category_listing_ul.treeview li .input-group > .input-group-addon:first-child {width:90%; text-align:left; }
#budget_categories_form #msAdmin_category_listing_ul.treeview li .input-group > .input-group-addon.currencySymbol { border-right:none; }
#budget_categories_form #msAdmin_category_listing_ul.treeview li.sub_categories_sorting.category .form-group { margin-bottom:2px; }

#msAdmin_category_listing_ul.treeview li > .form-group { margin-left:0; margin-right:0; }

ul.normal-listing,
ul.normal-listing ul { margin:0; padding:0; list-style:none; }
ul.normal-listing li { background-image:url(../images/bullet_gray.png); background-position:left 6px; background-repeat:no-repeat; margin-left:5px; padding-left:14px; }

.tablesorter tfoot td { font-weight:bold; }
.tablesorter .sum { text-align: right; }
.tablesorter .grandTotal { text-align: right; }

.msMailQueueMailBody pre { width:558px; }

#msadmin_wrapper .jqplot-target { font-weight:normal; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#222; }
#msadmin_wrapper #chartreceivablesPieChart.jqplot-target { font-weight:bold; font-size:12px; color:#fff; }
#msadmin_wrapper table.jqplot-table-legend,
#msadmin_wrapper table.jqplot-cursor-legend { font-size:11px;}
#msadmin_wrapper table.jqplot-table-legend td.jqplot-table-legend { padding:5px 5px 0 !important; }
#msadmin_wrapper table.jqplot-table-legend tr:last-child td.jqplot-table-legend { padding-bottom:5px !important; }
#msadmin_wrapper .jqplot-axis { font-size:12px; }
#msadmin_wrapper #chartTurnOverPerProduct { margin-bottom:20px; }

.panel-shadow { box-shadow:0 2px 10px rgba(0,0,0,.2); }
.label .amountWrapper > .amount { width:auto; }
.label.label-xs { display:inline-block; font-weight:600; font-size:12px; line-height:1.5; vertical-align:middle; }
.label.label-sm { display:inline-block; font-weight:600; font-size:12px; line-height:1.5; vertical-align:middle; }
.label.label-md { display:inline-block; font-weight:600; font-size:14px; line-height:1.42857143; vertical-align:middle; }
.label.label-lg { display:inline-block; font-weight:600; font-size:18px; line-height:1.3333333; vertical-align:middle; }

#msts-edit-ticket-form .panel { min-height:394px; }
@media (min-width:768px) {
	#msts-edit-ticket-form .panel { margin-bottom:0; }
}

.img-border { border:1px solid #ccc; text-align:center; padding:1px; border-radius:4px; }
.ui-widget-content .btn { color:#fff; }

.cellQty .quantity.buttons_added { white-space:nowrap; }
.cellQty .quantity.buttons_added > * { display:inline-block; }
.cellQty .quantity.buttons_added .form-control { border-radius:0; text-align:center; }
.cellQty .quantity.buttons_added .qty_minus,
.cellQty .quantity.buttons_added .qty_plus { height:34px; border:1px solid #2e6da4; background:#337ab7; font-size:14px; line-height:1.42857143; color:#fff; padding:6px 12px; -webkit-transition:background .25s ease; transition:background .25s ease; }
.cellQty .quantity.buttons_added .qty_minus { border-right:none; border-radius:4px 0 0 4px; }
.cellQty .quantity.buttons_added .qty_plus { border-left:none; border-radius:0 4px 4px 0; }
.cellQty .quantity.buttons_added .qty_minus:hover,
.cellQty .quantity.buttons_added .qty_plus:hover,
.cellQty .quantity.buttons_added .qty_minus:focus,
.cellQty .quantity.buttons_added .qty_plus:focus { border-color:#204d74; background:#286090; }

.redactor-dropdown { z-index:99999999; }

.select2-results .select2-highlighted a { color:#fff !important; text-decoration:none !important; }

.btn { margin-left:4px; margin-right:4px; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { opacity:0.5; }
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active { background-color:#e5e5e5; }

.redactor-styles a.btn-danger,
.redactor-styles a.btn-danger:hover,
.redactor-styles a.btn-danger:focus,
.redactor-styles a.btn-info,
.redactor-styles a.btn-info:hover,
.redactor-styles a.btn-info:focus,
.redactor-styles a.btn-success,
.redactor-styles a.btn-success:hover,
.redactor-styles a.btn-success:focus,
.redactor-styles a.btn-warning,
.redactor-styles a.btn-warning:hover,
.redactor-styles a.btn-warning:focus { color:#fff; text-decoration:none; }

.main_related_data_categories_name_listing ul { margin-left:0; padding-left:0; list-style:none; }

.form-control,
.select2-container .select2-choice > .select2-chosen,
.select2-default { font-weight:normal; }

td.print_r_key { word-break:normal; }
td.print_r_value { word-break:break-word; }

.pagination > li > a,
.pagination > li > span { padding:.6rem 1.05rem; }
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus { z-index:1; }
.pagination > li.disabled > a:hover,
.pagination > li.disabled > span:hover,
.pagination > li.disabled > a:focus,
.pagination > li.disabled > span:focus { z-index:0; }

@media (max-width:1199px) {
	body { background-position:-40px top; }
	h1 { font-size:2rem; line-height:2.4rem; }
	h2 { font-size:1.6remx; line-height:2rem; }
	h3,
	.panel-title { font-size:1.4rem; line-height:1.8rem; }
	h4 { font-size:1.2rem; line-height:1.6rem; }
	h5 { font-size:1rem; line-height:1.4rem; }
	body,
	.form-control,
	.form-collapse a.advanceSearch,
	.btn,
	.input-group-addon,
	.label.label-md { font-size:1.1rem; }
	#tx_multishop_admin_header_wrapper { width:180px; }
	#tx_multishop_admin_newheader_wrapper,
	#tx_multishop_admin_footer_wrapper { left:180px; }
	#msadmin_wrapper { padding-left:180px; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > ul,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li.msAdminPanelMenuHover > ul { left:180px; }

	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_package,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div { font-size:1.2rem; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span,
	#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a:not(.label) { font-size:1.1rem; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_package,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span { padding:.5rem 2rem .5rem 1.5rem; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > a:before,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_has_subs > span:before { top:1.3rem; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs > a:before,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs > span:before { top:.9rem; }
	#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li > .admin_panel_menu > a:not(.label),
	#tx_multishop_admin_newheader_wrapper ul#tx_multishop_admin_newheader > li.ms_new_ticket { padding-left:1.1rem; padding-right:1.1rem; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > ul,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li.msAdminPanelMenuHover > ul,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul { width:200px; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > ul,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li.msAdminPanelMenuHover > ul { left:200px; }

	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr span.package_bronze,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr span.package_silver,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr span.package_gold { overflow:hidden; display:inline-block; width:22px; height:22px; background-position:center center; background-repeat:no-repeat; padding-top:16px; vertical-align:middle; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr span.package_bronze { background-image:url(../images/icons_pkg_bronze.svg); }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr span.package_silver { background-image:url(../images/icons_pkg_silver.svg); }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr span.package_gold { background-image:url(../images/icons_pkg_gold.svg); }

	.fa,
	.label.label-md { line-height:1.42857143; }
	.fa-stack { width:1.2rem; height:1.2rem; line-height:1rem; vertical-align:top; }
	.fa-stack .fa-stack-2x { font-size:1.5rem; line-height:1.5rem; }
	.fa-stack .fa-stack-1x { font-size:.7rem; line-height:1.5rem; }
	.btn,
	.pagination > li > a, .pagination > li > span,
	.form-control,
	select.form-control { padding:.5rem .8rem; }
	.nav > li > a { padding:.5rem .4rem; }
	.pagination > li > a .fa, .pagination > li > span .fa,
	.btn-sm, .btn-group-sm > .btn { line-height:1.42857143 }
	.form-control,
	.select2-container .select2-choice { height:27px; }
	.select2-container .select2-choice > .select2-chosen { line-height:27px; padding-top:0; }
	.form-collapse .input-group > .fa { width:27px; height:27px; line-height:27px; }
	.form-collapse .input-group input[type="text"] { padding-left:27px; }

	.panel-heading,
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { padding:.5rem; }
	.panel-heading .btn .fa { display:none; }
	.btn.btn-memo { line-height:1.42857143 !important; }

	.admin_status_red, .admin_status_green { width:15px; height:15px; }
	.form-collapse .input-group input[type="text"] { width:320px; }
}
@media (max-width:991px) {
	body { background-position:-70px top; }
	#tx_multishop_admin_header_wrapper { width:150px; }
	#tx_multishop_admin_newheader_wrapper,
	#tx_multishop_admin_footer_wrapper { left:150px; }
	#msadmin_wrapper { padding-left:150px; }
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > ul,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li.msAdminPanelMenuHover > ul { left:150px; }

	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > a > .fa,
	#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > span > .fa { display:none; }

	.form-collapse .input-group input[type="text"] { width:220px; }
}

.modal-preloader { position:fixed; left:0; top:0; bottom:0; right:0; background:rgba(0,0,0,.5); z-index:9999999; }
.modal-preloader img { position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); }
.modal-backdrop { z-index:8888989; }
.modal { z-index:8888990; }

.update_customer_group_discount_status:hover,
.update_customer_group_discount_status:focus { border-bottom:none; }

/* fix for redactor 3.0 b5 */
.redactor-modal .form-item.form-item-target input[type="checkbox"] { margin-top:0; margin-bottom:1px; }
.redactor-modal .form-item.form-item-target input[type="checkbox"] + label.checkbox { display:inline-block; margin:0; padding-left:0; }

.table-valign-middle > thead > tr > th,
.table-valign-middle > tbody > tr > th,
.table-valign-middle > tfoot > tr > th,
.table-valign-middle > thead > tr > td,
.table-valign-middle > tbody > tr > td,
.table-valign-middle > tfoot > tr > td { vertical-align:middle; }