<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
		$('.nav-tabs a:first').tab('show');

        $(document).on('click', ".delete_manufacturers_images", function (e) {
            e.preventDefault();
            var img_filename = $(this).attr("rel");
            href = "###AJAX_URL_DELETE_MANUFACTURERS_IMAGE###";
            if (confirm('###ADMIN_LABEL_JS_ARE_YOU_SURE###?')) {
                jQuery.ajax({
                    type: "POST",
                    url: href,
                    data: "mid=###DELETE_IMAGES_MANUFACTURERS_ID###&image_filename=" + img_filename,
                    dataType: "json",
                    success: function (r) {
                        //do something with the sorted data
                        var image_action_div_id = ".image_action";
                        var ajax_manufacturers_image_id = "#ajax_manufacturers_image";
                        $(image_action_div_id).html("");
                        $(ajax_manufacturers_image_id).val("");
                    }
                });
            }
        });
    });
</script>
<div class="panel panel-default">
	<div class="panel-heading">
        <h3>###MANUFACTURER_FORM_HEADING###</h3>
        ###INTERFACE_HEADER_BUTTONS###
    </div>
	<div class="panel-body">
        ###POSTFORM_ERROR_ALERT###
		<form class="admin_manufacturers_edit blockSubmitForm form-horizontal" name="admin_manufacturers_edit" id="admin_edit_manufacturer" method="post" action="###MANUFACTURER_EDIT_FORM_URL###" enctype="multipart/form-data">
			<input type="hidden" name="tx_multishop_pi1[referrer]" id="msAdminReferrer" value="###VALUE_REFERRER###">
			<input name="action" type="hidden" value="###VALUE_FORM_MANUFACTURER_ACTION_URL###" />

			<div id="tab-container" class="msadminVerticalTabs">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation"><a href="#category_main" aria-controls="profile" role="tab" data-toggle="tab">###ADMIN_LABEL_TABS_DETAILS###</a></li>
					<li role="presentation"><a href="#manufacturer_content" aria-controls="profile" role="tab" data-toggle="tab">###ADMIN_LABEL_TABS_CONTENT###</a></li>
					<li role="presentation"><a href="#manufacturer_meta" aria-controls="profile" role="tab" data-toggle="tab">###ADMIN_LABEL_TABS_META###</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane" id="category_main">
						<div class="form-group" id="msEditManufacturerInputName">
	                        <label for="manufacturers_name" class="control-label col-md-2">###LABEL_MANUFACTURER_NAME###<span class="text-danger">*</span></label>
	                        <div class="col-md-10">
		                        <input spellcheck="true" type="text" class="text form-control" name="manufacturers_name" id="manufacturers_name" required="required" value="###VALUE_MANUFACTURER_NAME###">
	                        </div>
                        </div>
                        <div class="form-group" id="msEditManufacturerInputImage">
                            <label for="manufacturers_image" class="control-label col-md-2">###LABEL_MANUFACTURER_IMAGE###</label>
                            <div class="col-md-10">
                                <div id="manufacturers_image" class="form-control-static">
	                                <noscript>
	                                <input name="manufacturers_image" type="file" />
	                                </noscript>
	                            </div>
	                            <input name="ajax_manufacturers_image" id="ajax_manufacturers_image" type="hidden" value="" />

	                            <div class="image_action">
	                                <!-- ###MANUFACTURER_IMAGES### begin -->
	                                <img src="###MANUFACTURER_IMAGES_SRC###">
	                                <div class="image_tools">
	                                    ###MANUFACTURERS_IMAGE_CROP_BUTTON###
	                                    <a href="#" class="delete_manufacturers_images" rel="###MANUFACTURER_IMAGES_FILENAME###"><img src="###FULL_HTTP_URL###templates/images/icons/delete2.png" border="0" alt="delete image"></a>
	                                </div>
	                            <!-- ###MANUFACTURER_IMAGES### end -->
	                            </div>
	                        </div>
                        </div>
                        <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                        var manufacturers_name = $("#manufacturers_name").val();
                        var uploader = new qq.FileUploader({
                        element: document.getElementById('manufacturers_image'),
                        action: '###MANUFACTURER_IMAGES_UPLOAD_URL###',
                        params: {
                        manufacturers_name: manufacturers_name,
                        file_type: 'manufacturers_images'
                        },
                        template: '<div class="qq-uploader">' +
                        '<div class="qq-upload-drop-area"><span>###ADMIN_LABEL_DROP_FILES_HERE_TO_UPLOAD###</span></div>' +
                        '<div class="qq-upload-button">###MANUFACTURER_IMAGES_LABEL_CHOOSE_IMAGE###</div>' +
                        '<ul class="qq-upload-list" id="qq-upload-list-ul"></ul>' +
                        '</div>',
                        onComplete: function (id, fileName, responseJSON) {
                        var filenameServer = responseJSON['filename'];
                        $("#ajax_manufacturers_image").val(filenameServer);
                        ###MANUFACTURERS_IMAGE_CROP_JS###
                        },
                        debug: false
                        });
                        $('#manufacturers_name').change(function () {
                        var manufacturers_name = $("#manufacturers_name").val();
                        uploader.setParams({
                        manufacturers_name: manufacturers_name,
                        file_type: 'manufacturers_images'
                        });
                        });
                        });
                        </script>
                        <div class="form-group" id="msEditManufacturerInputVisibility">
	                        <label for="status" class="control-label col-md-2">###LABEL_MANUFACTURER_VISIBLE###</label>
	                        <div class="col-md-10">
		                        <div class="radio radio-success radio-inline"><input name="status" id="status_visible" type="radio" value="1" ###MANUFACTURER_VISIBLE_CHECKED### /><label for="status_visible">###LABEL_MANUFACTURER_ADMIN_YES###</label></div>
		                        <div class="radio radio-success radio-inline"><input name="status" id="status_no_visible" type="radio" value="0" ###MANUFACTURER_NOT_VISIBLE_CHECKED### /><label for="status_no_visible">###LABEL_MANUFACTURER_ADMIN_NO###</label></div>
	                        </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="manufacturer_content">
	                    <!-- ###MANUFACTURERS_CONTENT### begin -->
						<div class="panel panel-default toggle_advanced_option">
							<div class="panel-heading panel-heading-toggle###IS_COLLAPSED###" data-toggle="collapse" data-target="#msEditManufacturerInputDescPanel_###LANGUAGE_UID###">
								<h3 class="panel-title">
									<a role="button" data-toggle="collapse" href="#msEditManufacturerInputDescPanel_###LANGUAGE_UID###"><i class="fa fa-file-text-o"></i> ###MANUFACTURER_CONTENT_TITLE###</a>
								</h3>
							</div>
							<div id="msEditManufacturerInputDescPanel_###LANGUAGE_UID###" class="panel-collapse collapse###IS_UNFOLD###">
								<div class="panel-body">
									<div class="form-group" id="msEditManufacturerInputShortDesc_###LANGUAGE_UID###">
										<label for="content" class="control-label col-md-2">###LABEL_MANUFACTURER_SHORT_DESCRIPTION###</label>
										<div class="col-md-10">
											<textarea spellcheck="true" name="shortdescription[###LANGUAGE_UID###]" id="shortdescription[###LANGUAGE_UID###]" class="mceEditor" rows="4">###VALUE_MANUFACTURER_SHORT_DESCRIPTION###</textarea>
										</div>
									</div>
									<div class="form-group" id="msEditManufacturerInputContent_###LANGUAGE_UID###">
										<label for="content" class="control-label col-md-2">###LABEL_MANUFACTURER_CONTENT###</label>
										<div class="col-md-10">
											<textarea spellcheck="true" name="content[###LANGUAGE_UID###]" id="content[###LANGUAGE_UID###]" class="mceEditor" rows="4">###VALUE_MANUFACTURER_CONTENT###</textarea>
										</div>
									</div>
									<div class="form-group" id="msEditManufacturerInputContent_###LANGUAGE_UID###">
										<label for="content_footer" class="control-label col-md-2">###LABEL_MANUFACTURER_CONTENT_FOOTER###</label>
										<div class="col-md-10">
											<textarea spellcheck="true" name="content_footer[###LANGUAGE_UID###]" id="content_footer[###LANGUAGE_UID###]" class="mceEditor" rows="4">###VALUE_MANUFACTURER_CONTENT_FOOTER###</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
                    <!-- ###MANUFACTURERS_CONTENT### end -->
                    </div>

                    <div role="tabpanel" class="tab-pane" id="manufacturer_meta">
                        <!-- ###MANUFACTURERS_META### begin -->
						<div class="panel panel-default toggle_advanced_option">
							<div class="panel-heading panel-heading-toggle###IS_COLLAPSED###" data-toggle="collapse" data-target="#msEditManufacturerInputMetaPanel_###LANGUAGE_UID###">
								<h3 class="panel-title">
									<a role="button" data-toggle="collapse" href="#msEditManufacturerInputMetaPanel_###LANGUAGE_UID###"><i class="fa fa-file-text-o"></i> ###MANUFACTURER_META_TITLE###</a>
								</h3>
							</div>
							<div id="msEditManufacturerInputMetaPanel_###LANGUAGE_UID###" class="panel-collapse collapse###IS_UNFOLD###">
								<div class="panel-body">

									<div class="form-group" id="msEditManufacturerInputMetaTitle_###LANGUAGE_UID###">
										<label for="meta_title" class="control-label col-md-2">###ADMIN_LABEL_INPUT_META_TITLE###</label>
										<div class="col-md-10">
											<input type="text" class="text form-control" name="meta_title[###LANGUAGE_UID###]" id="meta_title[###LANGUAGE_UID###]" value="###VALUE_MANUFACTURER_META_TITLE###">
										</div>
									</div>
									<div class="form-group" id="msEditManufacturerInputMetaKeywords_###LANGUAGE_UID###">
										<label for="meta_keywords" class="control-label col-md-2">###ADMIN_LABEL_INPUT_META_KEYWORDS###</label>
										<div class="col-md-10">
											<input type="text" class="text form-control" name="meta_keywords[###LANGUAGE_UID###]" id="meta_keywords[###LANGUAGE_UID###]" value="###VALUE_MANUFACTURER_META_KEYWORDS###">
										</div>
									</div>
									<div class="form-group" id="msEditManufacturerInputMetaDesc_###LANGUAGE_UID###">
										<label for="meta_description" class="control-label col-md-2">###ADMIN_LABEL_INPUT_META_DESCRIPTION###</label>
										<div class="col-md-10">
											<input type="text" class="text form-control" name="meta_description[###LANGUAGE_UID###]" id="meta_description[###LANGUAGE_UID###]" value="###VALUE_MANUFACTURER_META_DESCRIPTION###">
										</div>
									</div>
								</div>
							</div>
						</div>
                        <!-- ###MANUFACTURERS_META### end -->
                    </div>
				</div>
			</div>

                        <div class="clearfix">
                            <div class="pull-right">
                                <a href="###LINK_BUTTON_CANCEL###" class="btn btn-danger"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-remove fa-stack-1x"></i></span> ###LABEL_BUTTON_ADMIN_CANCEL###</a>
                                <button name="Submit" type="submit" class="btn btn-success" id="btnSave"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span> ###LABEL_BUTTON_ADMIN_SAVE###</button>
								<button name="SaveClose" type="submit" class="btn btn-success" id="btnSaveClose"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span> ###LABEL_BUTTON_ADMIN_SAVE_CLOSE###</button>
                            </div>
                        </div>
<input name="manufacturers_id" type="hidden" value="###MANUFACTURER_ID###" />
		</form>
    <div id="ajax_message_###MANUFACTURER_ID###" class="ajax_message"></div>
	</div>
</div>


<!-- ###TEMPLATE### end -->